.gifplayer-wrapper{
    
}

ins.play-gif{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    min-height: 60px;
    min-width: 60px;
    text-align: center;
    background: #222;
    line-height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 35px;
    opacity: .9;
    border: 5px solid #fff;
    cursor:pointer;
    text-decoration: none;
}

ins.play-gif:hover{
    opacity:.5;
}
