ins.play-gif{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left:-30px;
    min-height: 60px;
    min-width: 60px;
    text-align: center;
    background: #222;
    line-height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 35px;
    opacity: .9;
    border: 5px solid #fff;
    cursor:pointer;
    text-decoration: none;
}

ins.play-gif:hover{
    opacity:.5;
}

.gifplayer-wrapper{
    position:relative;
}

a.gif-view-full{
    position:absolute;
    bottom:8px;
    right:4px;

    padding: 4px 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-weight:bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
    display:none;
}

a.gif-view-full:before{
    content:' ';
    width:10px;
    height:10px;
    display:inline-block;
    background-image: url('../img/view-larger.png');
    margin-right:3px;
}

img.gif-loading{
    height:4px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}

@media (max-width : 480px) {
    a.gif-view-full{
        display:inline-block !important;
    }
}

